@inherits ToSic.Sxc.Dnn.RazorComponent
<link rel="stylesheet" href="@App.Path/assets/categories.css" />
<div class="jci-categories" @Edit.TagToolbar()>
    <h2>Manage Categories</h2>
    <ol>
        @foreach (var item in AsList(App.Data["Categories"].List).OrderBy(i => i.Title))
        {
            <li @Edit.TagToolbar(item)>
                <span>@item.Title </span>
            </li>
        }
    </ol>
</div>